
<h1 mat-dialog-title>{{ data.name }}课程详情</h1>

<div mat-dialog-content>
  <p>授课教师：{{ data.teacher_name }}</p>
  <p>开课时间：{{ data.course_time }}</p>
  <p>考试时间：{{ data.exam_time }}</p>
  <p *ngIf="sessionService.get('userIdentity') == 'teacher'">选课人数：{{ data.amount }}</p>
  <p>课程描述：{{ data.desc }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button>加入课程</button>
  <button mat-button [routerLink]="['course/details', data.course_id]" (click)="onNoClick()">进入课程</button>
  <button *ngIf="sessionService.get('userIdentity') == 'teacher'" mat-button>删除课程</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>关闭</button>
</div>
