
<h1 mat-dialog-title>{{ data.course_name }}课程详情</h1>

<div mat-dialog-content>
  <p>授课教师：{{ data.teacher_name }}</p>
  <p>上课时间：{{ data.course_time }}</p>
  <p>考试时间：{{ data.exam_time }}</p>
  <p>选课人数：{{ data.amount }}</p>
  <p>课程描述：{{ data.descs }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary"
          *ngIf="showJoinButton()"
          (click)="joinCourse(data.course_id)"
  >加入课程</button>

  <button mat-button
          (click)="enterCourse(data.course_id)"
          *ngIf="showEnterButton()"
  >进入课程</button>

  <button *ngIf="showDeleteButton()"
          mat-button color="warn"
          (click)="deleteCourse(data.course_id)"
  >删除课程</button>

  <button mat-button (click)="onNoClick()" cdkFocusInitial>关闭</button>
</div>
