<!-- 左侧菜单栏 -->
<div class="sidebar-container">

  <mat-toolbar class="sidebar">

    <mat-toolbar-row class="sidebar-row">
      <button mat-button [routerLink]="['/course/details', courseID]">
        <mat-icon>arrow_back</mat-icon>返回
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row selected">
      <button mat-button (click)="changeTab(1)">项目简介</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(2)">小组成员</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(3)">任务</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(4)">讨论</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(5)">评分</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(6)">文件管理</button>
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<section id="tab-content-container">

  <div class="tab-content"></div>

  <!-- 项目简介 -->
  <div class="tab-content current-tab">
    <form [formGroup]="pjInfoForm" (ngSubmit)="updateProject(pjInfoForm.value)" class="pj-info-form" ngNativeValidate>
      <mat-form-field>
        <label for="name"> 项目名称: </label>
        <input matInput type="text" [(ngModel)]="projectInfo.name" formControlName="name" id="name" required>
      </mat-form-field>

      <mat-form-field>
        <label for="descs"> 项目简介: </label>
        <textarea matInput type="text" [(ngModel)]="projectInfo.descs" formControlName="descs" id="descs"
                  required></textarea>
      </mat-form-field>

      <mat-form-field>
        <label for="amount"> 项目人数: </label>
        <input matInput type="number" [(ngModel)]="projectInfo.amount" formControlName="amount" id="amount" readonly>
      </mat-form-field>

      <mat-form-field>
        <label for="PJStart"> 项目开始时间: </label>
        <input matInput type="date" [(ngModel)]="projectInfo.start" formControlName="start" id="PJStart" readonly
               required>
      </mat-form-field>

      <mat-form-field>
        <label for="PJEnd"> 项目结束时间: </label>
        <input matInput type="date" [(ngModel)]="projectInfo.end" [min]="projectInfo.start" formControlName="end"
               id="PJEnd">
      </mat-form-field>

      <button mat-raised-button type="submit" *ngIf="isEditing == true" color="primary" style="float: right"> 保存修改
      </button>
    </form>

    <!-- 切换到编辑模式 -->
    <button *ngIf="sessionService.get('userIdentity') != 'student' &&
            isEditing == false"
            mat-raised-button
            (click)="changeEdit()">
      <mat-icon> border_color</mat-icon>
      修改
    </button>
  </div>

  <!-- 项目成员 -->
  <div class="tab-content">
    <mat-list *ngIf="captain.student_id != undefined">
      <h3 mat-subheader>组长</h3>
      <mat-list-item>
        <p mat-line> {{ captain.student_id }} </p>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h3 mat-subheader>小组成员</h3>
      <p mat-line *ngFor="let student of studentList">
        {{ student.student_id }}
      </p>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list *ngIf="captain.student_id == undefined">
      <h3 mat-subheader>还没有同学加入~</h3>
    </mat-list>
  </div>

  <!-- 任务列表 -->
  <div class="tab-content">

    <button
      mat-raised-button color="primary"
      (click)="openDialog('task')"
      *ngIf="sessionService.get('userIdentity') == 'teacher' ||
       sessionService.get('userID') == captain.student_id">
      添加任务
    </button>

    <button mat-raised-button (click)="refreshTaskList()">
      <mat-icon> autorenew</mat-icon>
      刷新
    </button>
    <br><br><br>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let task of taskList; index as taskIndex">
        <mat-expansion-panel-header>
          <mat-panel-title>
            任务名称： {{ task.mission_name }}
          </mat-panel-title>
          <mat-panel-title>
            优先级： {{ task.level }}
          </mat-panel-title>
          <mat-panel-title>
            deadline：{{ task.end }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p *ngIf="task.stu_id != null">
          任务负责人： {{ task.stu_id }}
        </p>
        <p>
          任务时间： {{ task.start }} ~ {{ task.end }}
        </p>

        <!-- 非任务负责人 只显示任务状态-->
        <p>
          任务状态： {{ task.status }}
        </p>

        <button *ngIf="sessionService.get('userID') == task.stu_id &&
                task.status == '未开始'"
                (click)="updateTask(taskIndex, 'status', '进行中')"
                mat-raised-button>
          开始任务
        </button>

        <button *ngIf="sessionService.get('userID') == task.stu_id &&
                task.status == '进行中'"
                (click)="updateTask(taskIndex, 'status', '已结束')"
                mat-raised-button>
          完成任务
        </button>

        <button *ngIf="task.stu_id == null &&
                sessionService.get('userIdentity') == 'student'"
                (click)="updateTask(taskIndex, 'stu_id', sessionService.get('userID'))"
                mat-raised-button>
          认领
        </button>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 讨论面板 -->
  <div class="tab-content">
    <button mat-raised-button color="primary"
            (click)="openDialog('discussion')"
            *ngIf="sessionService.get('userIdentity') != 'admin'"
    >发起讨论
    </button>

    <button mat-raised-button (click)="refreshDisList()">
      <mat-icon> autorenew</mat-icon>
      刷新
    </button>
    <br><br><br>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let discussion of discussionList; index as disIndex">
        <!--话题header-->
        <mat-expansion-panel-header>
          <mat-panel-title>
            讨论主题：{{ discussion.title }}
          </mat-panel-title>
          <mat-panel-description>
            发起人:{{ discussion.initiator }}
          </mat-panel-description>
          <mat-panel-description>
            发起时间:{{ discussion.start }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--话题描述-->
        <mat-card style="background-color: rgba(0, 0, 0, 0.2);">
          <mat-card-content>
            <p>
              问题描述: <br>{{ discussion.question }}
            </p>
          </mat-card-content>
        </mat-card>

        <!--话题reply-->
        <mat-list>
          <section *ngFor="let reply of discussion.answerList; index as replyIndex">
            <h3 mat-subheader>{{ reply.user_id }}   {{ reply.answer_time }}</h3>
            <mat-list-item>
              <p>
                {{ reply.content }}
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </section>
        </mat-list>

        <!-- 回复讨论框 -->

        <mat-form-field style="width: 100%" *ngIf="sessionService.get('userIdentity') != 'admin'">
          <label>
            <textarea matInput placeholder="Enter your comment" [(ngModel)]="replyContent" required></textarea>
          </label>
        </mat-form-field>
        <button mat-raised-button
                (click)="addReply(discussion.discussion_id)"
                *ngIf="sessionService.get('userIdentity') != 'admin'"
        ><mat-icon>reply</mat-icon>
          回复</button>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 评分面板 -->
  <div class="tab-content">

    <button mat-raised-button (click)="refreshScoreList()">
      <mat-icon> autorenew</mat-icon>
      刷新
    </button>
    <br><br><br>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let student of memberTaskInfo; index as studentIndex">
        <mat-expansion-panel-header>
          <mat-panel-title>
            学生ID：{{ student.student.student_id}}
          </mat-panel-title>
          <mat-panel-description *ngIf="memberScoreInfo[studentIndex].score.scored == 'true'">
            已评分
          </mat-panel-description>
          <mat-panel-description *ngIf="memberScoreInfo[studentIndex].score.scored == 'false'">
            未评分
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- 任务完成情况 -->
        <table mat-table [dataSource]="student.taskInfo" class="task-table">
          <!-- id Column -->
          <ng-container matColumnDef="mission_id">
            <th mat-header-cell *matHeaderCellDef> 任务编号</th>
            <td mat-cell *matCellDef="let element"> {{ element.mission_id }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mission_name">
            <th mat-header-cell *matHeaderCellDef> 任务名称</th>
            <td mat-cell *matCellDef="let element"> {{ element.mission_name }} </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> 完成情况</th>
            <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedTaskColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedTaskColumns;"></tr>
        </table>

        <!-- 评分按钮（teacher）-->
        <button
          mat-raised-button
          color="primary"
          *ngIf="sessionService.get('userIdentity') == 'teacher' &&
          memberScoreInfo[studentIndex].score.scored == 'false'"
          (click)="openScoreDialog(studentIndex)"
        > 评分
        </button>

        <!-- 得分详情 -->
        <section *ngIf="memberScoreInfo[studentIndex].score.scored == 'true'">
          <p> 任务得分： {{ memberScoreInfo[studentIndex].score.mission_score }}</p>
          <p> 其他得分： {{ memberScoreInfo[studentIndex].score.other_score }} </p>
        </section>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 文件管理 -->
  <div class="tab-content">
    <!-- 资源列表 -->
    <table mat-table [dataSource]="fileList" class="file-table">
      <!-- id Column -->
      <ng-container matColumnDef="file_id">
        <th mat-header-cell *matHeaderCellDef> 文件编号</th>
        <td mat-cell *matCellDef="let element"> {{ element.file_id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 文件名称</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <!-- upload time Column -->
      <ng-container matColumnDef="upload_date">
        <th mat-header-cell *matHeaderCellDef> 上传时间</th>
        <td mat-cell *matCellDef="let element"> {{ element.upload_date }} </td>
      </ng-container>

      <!-- uploader Column -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> 上传者</th>
        <td mat-cell *matCellDef="let element"> {{ element.user_id }} </td>
      </ng-container>

      <!-- file size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> 文件大小</th>
        <td mat-cell *matCellDef="let element"> {{ element.size }} B</td>
      </ng-container>

      <!-- file desc Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> 文件描述</th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <!-- option Column -->
      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef> 操作</th>
        <td mat-cell *matCellDef="let element">

          <!-- 下载按钮 -->
          <button mat-stroked-button
                  *ngIf="sessionService.get('userIdentity') != 'admin'">
            <a
              href="{{this.baseUrl}}{{element.path}}"
              download="{{ element.name }}"
            >下载
            </a>
          </button>

          <!-- 下载按钮 -->
          <button *ngIf="sessionService.get('userIdentity') == 'admin'"
                  mat-stroked-button disabled>
            下载
          </button>

          <!-- 删除按钮 -->
          <button *ngIf="element.user_id == sessionService.get('userID') ||
                          sessionService.get('userIdentity') == 'teacher' &&
                          sessionService.get('userIdentity') != 'admin'"
                  mat-stroked-button color="warn"
                  (click)="deleteFile(element.file_id)"
          >删除
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedFileColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedFileColumns;"></tr>
    </table>

    <button mat-raised-button (click)="refreshFileList()">
      <mat-icon> autorenew</mat-icon>
      刷新
    </button>
    <!--上传文件按钮-->
    <button mat-raised-button color="primary"
            (click)="openDialog('file')"
            *ngIf="sessionService.get('userIdentity') != 'admin'"
    > <mat-icon>cloud_upload</mat-icon>上传文件</button>

  </div>
</section>

