
<!-- 左侧菜单栏 -->
<div class="sidebar-container">
  <mat-toolbar class="sidebar">

    <mat-toolbar-row class="sidebar-row selected">
      <button mat-button (click)="changeTab(0)">项目简介</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(1)">小组成员</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button (click)="changeTab(2)">任务</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button  (click)="changeTab(3)">讨论</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button  (click)="changeTab(4)">评分</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sidebar-row">
      <button mat-button  (click)="changeTab(5)">文件管理</button>
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<section id="tab-content-container">
  <!-- 项目简介 -->
  <div class="tab-content current-tab">
    <form [formGroup]="pjInfoForm" (ngSubmit)="onSubmit(pjInfoForm.value)" class="pj-info-form" ngNativeValidate>
      <mat-form-field>
        <label for="name"> 项目名称: </label>
        <input matInput type="text" [(ngModel)]="projectInfo.name" formControlName="name" id="name">
      </mat-form-field>

      <mat-form-field>
        <label for="descs"> 项目简介: </label>
        <textarea matInput type="text" [(ngModel)]="projectInfo.descs" formControlName="descs" id="descs"></textarea>
      </mat-form-field>

      <mat-form-field>
        <label for="number"> 项目人数: </label>
        <input matInput type="number" [(ngModel)]="projectInfo.number" formControlName="number" id="number">
      </mat-form-field>

      <mat-form-field>
        <label for="PJStart"> 项目开始时间: </label>
        <input matInput type="date" [(ngModel)]="projectInfo.start.split(' ')[0]" formControlName="start" id="PJStart">
      </mat-form-field>

      <mat-form-field>
        <label for="PJEnd"> 项目结束时间: </label>
        <input matInput type="date" [(ngModel)]="projectInfo.end.split(' ')[0]" formControlName="end" id="PJEnd">
      </mat-form-field>

      <button mat-raised-button type="submit" *ngIf="isEditing == true" color="primary" style="float: right"> 保存修改 </button>
    </form>

    <!-- 切换到编辑模式 -->
    <button *ngIf="sessionService.get('userIdentity') != 'student' && isEditing == false" mat-raised-button (click)="changeEdit()">
      <mat-icon> border_color</mat-icon>
      修改
    </button>
  </div>

  <!-- 项目成员 -->
  <div class="tab-content">
    <mat-list>
      <h3 mat-subheader>组长</h3>
      <mat-list-item >
        <p mat-line> 姓名（ID）的形式 </p>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h3 mat-subheader>小组成员</h3>
      <p mat-line>
        章三、李四、王苏
      </p>
      <mat-divider></mat-divider>

    </mat-list>
  </div>

  <!-- 任务列表 -->
  <div class="tab-content">

    <button mat-raised-button color="primary"  (click)="openDialog('task')">
        添加任务
    </button><br><br><br>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let task of taskList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            任务名称： {{ task.task_name }}
          </mat-panel-title>
          <mat-panel-title>
            优先级： {{ task.level }}
          </mat-panel-title>
          <mat-panel-title>
            deadline：{{ task.end_time }}
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          任务描述： {{ task.desc }}
        </p>
        <p>
          任务时间： {{ task.start_time }} ~ {{ task.end_time }}
        </p>
        <p>
          任务状态： {{ task.status }}
        </p>
        <button *ngIf="task.status == 'unclaimed'" mat-raised-button>
          认领
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 讨论面板 -->
  <div class="tab-content">
    <button mat-raised-button color="primary" (click)="openDialog('discussion')">发起讨论</button><br><br><br>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <!--话题header-->
        <mat-expansion-panel-header>
          <mat-panel-title>
            讨论主题：游戏
          </mat-panel-title>
          <mat-panel-description>
           发起人:小李
          </mat-panel-description>
          <mat-panel-description>
            发起时间:2020-07-12
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--话题描述-->
        <mat-card style="background-color: rgba(0, 0, 0, 0.2);">
          <mat-card-content>
            <p>
            问题描述: <br>这是一个问题，希望有小伙伴能够解答。显示之前的讨论，包括人名、讨论内容、发送时间
            </p>
          </mat-card-content>
        </mat-card>

        <!--话题reply-->
        <mat-list>
          <h3 mat-subheader>校长 2020-07-26</h3>
          <mat-list-item >
            <p>
              大家好，欢迎学习本门课程，踏上游戏开发之路！ 本课程，我们使用Unity游戏引擎学习游戏开发，将开发的游戏部署到PC端和移动终端。
              本周课程的学习中，我们首先介绍课程的基本信息。接着，我们学习下载、安装
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <h3 mat-subheader>校长 2020-07-26</h3>
          <mat-list-item >
            <p> 大家好，欢迎学习本门课程，踏上游戏开发之路！ 本课程，我们使用Unity游戏引擎学习游戏开发，将开发的游戏部署到PC端和移动终端。
              本周课程的学习中，我们首先介绍课程的基本信息。接着，我们学习下载、安装 </p>
          </mat-list-item>
          <mat-divider></mat-divider>

          <h3 mat-subheader>校长 2020-07-26</h3>
          <mat-list-item >
            <p> 大家好，欢迎学习本门课程，踏上游戏开发之路！ 本课程，我们使用Unity游戏引擎学习游戏开发，将开发的游戏部署到PC端和移动终端。
              本周课程的学习中，我们首先介绍课程的基本信息。接着，我们学习下载、安装 </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        <!-- 回复讨论框 -->
        <mat-form-field style="width: 100%">
          <label>
            <textarea matInput placeholder="Enter your comment"></textarea>
          </label>
        </mat-form-field>
        <button mat-raised-button>回复</button>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 评分面板 -->
  <div class="tab-content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            同学名字：小王
          </mat-panel-title>
          <mat-panel-description>
            已评分/ 未评分
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- 任务完成情况 -->
        <table mat-table [dataSource]="taskInfo" class="task-table">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> 任务编号 </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> 任务名称 </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> 完成情况 </th>
            <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedTaskColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedTaskColumns;"></tr>
        </table>

        <!-- 评分按钮（teacher）-->
        <button mat-raised-button color="primary" (click)="openDialog('score')"> 评分 </button>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- 文件管理 -->
  <div class="tab-content">
    <!-- 资源列表 -->
    <table mat-table [dataSource]="fileList" class="file-table">
      <!-- id Column -->
      <ng-container matColumnDef="file_id">
        <th mat-header-cell *matHeaderCellDef> 文件编号 </th>
        <td mat-cell *matCellDef="let element"> {{ element.file_id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 文件名称 </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <!-- upload time Column -->
      <ng-container matColumnDef="upload_date">
        <th mat-header-cell *matHeaderCellDef> 上传时间 </th>
        <td mat-cell *matCellDef="let element"> {{ element.upload_date }} </td>
      </ng-container>

      <!-- uploader Column -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> 上传者 </th>
        <td mat-cell *matCellDef="let element"> {{ element.user_id }} </td>
      </ng-container>

      <!-- file size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> 文件大小 </th>
        <td mat-cell *matCellDef="let element"> {{ element.size }} B </td>
      </ng-container>

      <!-- file desc Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> 文件描述 </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <!-- option Column -->
      <ng-container matColumnDef="option" *ngIf="sessionService.get('userIdentity') != 'admin'">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">

          <!-- 下载按钮 -->
          <button mat-stroked-button>
            <a
              href="{{this.baseUrl}}{{element.path}}"
              download="{{ element.name }}"
            >下载
            </a>
          </button>

          <!-- 删除按钮 -->
          <button *ngIf="element.user_id == sessionService.get('userID') ||
                          sessionService.get('userIdentity') == 'teacher'"
                  mat-stroked-button color="warn"
                  (click)="deleteFile(element.file_id)"
          >删除
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedFileColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedFileColumns;"></tr>
    </table>

    <!--上传文件按钮-->
    <button mat-raised-button color="primary" (click)="openDialog('file')"> 上传文件 </button>

  </div>
</section>

