
<div class="dialog-container">
  <h1 mat-dialog-title>{{ data.name }}项目详情</h1>

  <div mat-dialog-content>
    <p>项目ID：{{ data.pj_id }}</p>
    <p>开始时间：{{ data.start_time }}</p>
    <p>结束时间：{{ data.end_time }}</p>
    <!--  <p *ngIf="sessionService.get('userIdentity') == 'teacher'">选课人数：{{ data.amount }}</p>-->
    <p>现有人数：{{ data.count }}</p>
    <p>项目描述：{{ data.desc }}</p>
  </div>
  <div mat-dialog-actions class="project-actions">
    <button mat-button *ngIf="sessionService.get('userIdentity') == 'student'">加入项目</button>
    <button mat-button [routerLink]="['project/details', data.course_id, data.pj_id]" (click)="onNoClick()">进入项目</button>
    <button *ngIf="sessionService.get('userIdentity') == 'teacher'" mat-button>删除项目</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>关闭</button>
  </div>
</div>

