.course-header {
  padding: 50px 500px 50px 50px;
  height: 200px;
  //opacity: 0.8;
  color: #ffffff;
  //background: linear-gradient(90deg, #0E419C, #f6f6f6);
  background: linear-gradient(90deg, #4A148C, #f6f6f6);
  //background: linear-gradient(90deg, #004D40, #f6f6f6);

}

.course-content-container {
  margin: 50px;
}

.project-list-container {
  display: flex;
  flex-flow:row wrap;
  padding: 50px;
  /*justify-content:center;*/
  align-items:center;
}

.project-card {
  max-height: 200px;
  min-height: 200px;
  max-width: 300px;
  min-width: 300px;
  flex: 1;
  margin: 10px;
}

.project-card #add-project {
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/*desc 超出部分省略号表示*/
#project-info-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#project-list {
  display: none !important;
}
