<script src="course-details.component.ts"></script>
<div class="course-header">
  <h1 class="course-info" style="font-size: 50px;">{{ courseInfo.name }}</h1>
  <p>授课老师： {{ courseInfo.teacher_name}}</p>
  <p> {{ courseInfo.description }}</p>

</div>

<mat-tab-group>
  <mat-tab label="关于">
    <div class="course-content-container">
      <p>开始时间： {{ courseInfo.startTime }}</p>
      <p>结束时间： {{ courseInfo.endTime }}</p>
    </div>
  </mat-tab>

  <mat-tab label="课程项目" class="course-content-container">
    <!-- project list-->
    <div class="project-list-container">
      <mat-card *ngFor="let project of projectList; index as projectIndex" class="project-card">
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>{{ project.pj_id }}</mat-card-subtitle>
          <mat-card-subtitle>开始时间：{{ project.start_time }}</mat-card-subtitle>
          <mat-card-subtitle>开始时间：{{ project.end_time }}</mat-card-subtitle>
        </mat-card-header>
        <!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
          <p id="project-info-container">
          {{ project.desc }}
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog(projectIndex)">查看详情</button>
        </mat-card-actions>
      </mat-card>

      <!-- add project button-->
      <div class="project-card" matRipple>
        <mat-card>

          <mat-card-actions id="add-project">
            <button mat-fab color="primary"> + </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
