.course-card {
  max-width: 400px;
  flex: 1;
  min-width: 400px;
  margin: 10px;
}

.course-list-container {
  display: flex;
  flex-flow:row wrap;
  /*justify-content:center;*/
  align-items:center;
  padding: 60px 110px;
}

.content-header {
  margin: 50px;
  text-align:center;
}

#add-course {
  padding: 50px 150px;
}

/* 课程描述超出部分省略号表示*/
#desc-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
