
<mat-toolbar color="primary">
  <button mat-button [routerLink]="['course/list']" class="header">
    <h2>基于PBL的学习平台</h2>
  </button>
<!--  <span class="header">-->
<!--    <button mat-button>基于PBL的学习平台</button>-->
<!--  </span>-->

  <button *ngIf="sessionService.get('user') == null" mat-raised-button class="top-bar-btn" [routerLink]="['user/login']">登录</button>
  <button *ngIf="sessionService.get('user') == null" mat-raised-button class="top-bar-btn" [routerLink]="['user/register']">注册</button>
  <button *ngIf="sessionService.get('user') != null" mat-button class="top-bar-btn" [matMenuTriggerFor]="actions">
    {{ sessionService.get('user') }}
  </button>

  <mat-menu #actions="matMenu">
    <button mat-menu-item [routerLink]="['user/profile']">个人主页</button>
    <button mat-menu-item (click)="logout()" [routerLink]="['user/login']">退出</button>
  </mat-menu>

</mat-toolbar>

