
<mat-toolbar color="primary">
  <button mat-button [routerLink]="['course/list']" class="header">
    <h2>基于PBL的学习平台</h2>
  </button>
<!--  <span class="header">-->
<!--    <button mat-button>基于PBL的学习平台</button>-->
<!--  </span>-->

  <button *ngIf="sessionService.get('userID') == null" mat-raised-button class="top-bar-btn" [routerLink]="['user/login']">登录</button>
  <button *ngIf="sessionService.get('userID') == null" mat-raised-button class="top-bar-btn" [routerLink]="['user/register']">注册</button>
  <button *ngIf="sessionService.get('userID') != null" mat-button class="top-bar-btn" [matMenuTriggerFor]="actions">
    {{ sessionService.get('userID') }}
  </button>

  <mat-menu #actions="matMenu">
    <button mat-menu-item
            [routerLink]="['user/profile', this.sessionService.get('userID')]"
            *ngIf="sessionService.get('userIdentity') == 'student' ||
            sessionService.get('userIdentity') == 'teacher'"
    >个人主页
    </button>

    <button mat-menu-item
            [routerLink]="['user-management']"
            *ngIf="sessionService.get('userIdentity') == 'admin'"
    >用户管理
    </button>

    <button mat-menu-item (click)="logout()" [routerLink]="['user/login']">退出</button>
  </mat-menu>

</mat-toolbar>

