
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" ngNativeValidate>
  <h1>请登录</h1>
  <!--<h4>请选择登录身份:</h4>-->
  <!--user identity-->
  <mat-form-field class="login-item">
    <select matNativeControl required id="type" formControlName="type">
      <option value="student">学生</option>
      <option value="teacher">教师</option>
      <option value="admin">管理员</option>
    </select>
  </mat-form-field>

  <!--user name-->
  <mat-form-field class="login-item">
    <input matInput placeholder="请输入用户名" formControlName="username" id="username" required>
  </mat-form-field>

  <!--user password-->
  <mat-form-field class="login-item">
    <input matInput placeholder="请输入密码" type="password" formControlName="password" id="password" required>
  </mat-form-field>

  <button mat-raised-button class="login-item" color="primary" type="submit">登录</button>

</form>


