<h1 mat-dialog-title> 评分 </h1>

<div mat-dialog-content>
<!-- 评分表单 -->
<form class="login-form" [formGroup]="gradeForm" (ngSubmit)="onSubmit(gradeForm.value)" ngNativeValidate>

  <!--task score-->
  <mat-form-field>
    <input matInput type="number" placeholder="任务评分（0-50）"
           formControlName="mission_score" id="mission_score"
           min="0" max="50"
           required>
  </mat-form-field>
  <br>
  <!--other score-->
  <mat-form-field>
    <input matInput type="number" placeholder="其他评分（0-50）"
           formControlName="other_score" id="other_score"
           min="0" max="50"
           required>
  </mat-form-field>
  <br>

  <button mat-raised-button style="float: right" color="primary" type="submit">提交</button>
</form>
</div>
