.profile-container {
  margin: 50px;
}
.userinfo-card {
  margin-right: 10px;
  float: left;
  max-width: 350px;
  min-width: 300px;
}

#edit-button {
  margin-right: 100px!important;
}

img {
  max-width: 350px;
  max-height: 350px;
  min-width: 300px;
  min-height: 300px;
}
